.cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 70%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
}

.card {
    height: 100%;
    flex-grow: 1;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    flex-grow: 10;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-top: 0;
}