* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --main-color: #667eea;
    --main-color-dark: #5563d6;
    --secondary-color: #f4f7fb;
    --text-light: #ffffff;
}